<?xml version="1.0" encoding="utf-8"?>
<menu xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:app="http://schemas.android.com/apk/res-auto"
    xmlns:tools="http://schemas.android.com/tools"
    android:layout_width="match_parent"
    android:layout_height="match_parent"
    android:id="@+id/menu"
    tools:context="org.brohede.marcus.sqliteapp.MainActivity">
    <item
        android:id="@+id/action_sorth"
        android:orderInCategory="100"
        android:title="@string/action_sorth"



        app:showAsAction="never" />
    <item
        android:id="@+id/action_sortn"
        android:orderInCategory="100"
        android:title="@string/action_sortn"



        app:showAsAction="never" />

</menu>